/* PROJECTS ------------------------------------- */
.display {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: top;
  margin-top: 100px;
  padding: 0px 50px;
  max-width: 1200px;
  align-self: center;
}

.project-list {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  width: 250px;
  /* background: rgba(218, 170, 170, 0.5); */
}

.project-btn {
  font-size: 1.3rem;
  font-weight: 400;
  text-wrap: wrap;
  text-align: left;
  color: #CECECE;
  transition: color 0.2s ease;
  border: none;
  background: none;
}

.project-btn:hover,
.project-btn:active {
  font-weight: 500;
  color: #A5A5A5 !important;
}

.thumbnail-container {
  flex-shrink: 0;
  width: 650px;
  height: 550px;
  overflow: hidden;

  mask-image: linear-gradient(to top, black 0%, black 100%);
  mask-size: 100% 0%;
  mask-repeat: no-repeat;
  mask-position: center;
  animation: revealMask 0.7s ease forwards;
}

.thumbnail {
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;

  transform: scale(1.15) translateZ(0);
  animation: imageZoom 0.7s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes revealMask {
  from {
    mask-size: 100% 0%;
  }

  to {
    mask-size: 100% 100%;
  }
}

@keyframes imageZoom {
  from {
    transform: scale(1.15);
  }

  to {
    transform: scale(1);
  }
}